/* ************ */
/* Navbar */
/* ************ */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #3498db;
  -moz-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
body.home {
  background-color: #3498db;
}
body.exams {
  background-color: #e67e22;
}
body.clients {
  background-color: #e74c3c;
}
body.login {
  background-color: #1abc9c;
}
body.register {
  background-color: #7700ff;
}

strong {
  font-weight: 600;
}

/* h1 {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 30vh;
  font-weight: 100;
  text-align: center;
  font-size: 55px;
  line-height: 1.5;
  background: rgba(0, 0, 0, 0.1);
  padding: 0px 0 20px 0;
} */
h1 span {
  font-weight: 400;
  display: block;
  font-size: 25%;
}

nav {
  display: flex;
  flex-dirction: row;
}
nav a {
  width: 25%;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  margin: auto;
  /* Magic! */
  position: relative;
  color: rgba(255, 255, 255, 0.3);
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
nav a:hover, nav a.active {
  color: #fff;
}
nav a:after {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -4px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.61, 0, 0.405, 1.63);
  -o-transition: -o-transform 0.3s cubic-bezier(0.61, 0, 0.405, 1.63);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.61, 0, 0.405, 1.63);
  transition: transform 0.3s cubic-bezier(0.61, 0, 0.405, 1.63);
}
nav a.active:after {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

/* ************ */
/* Register Form */
/* ************ */

 @import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #24ad59;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

/* *********
 Alerts
********* */

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,600,700");
*,
:after,
:before {
  box-sizing: border-box;
}

.section {
  padding: 50px 0;
}
.section .alert:not(:first-child) {
  margin-top: 15px;
}

.alert {
  background-color: #29d2e4;
  border: 1px solid #29d2e4;
  color: #fff;
  padding: 15px 20px;
}


.alert .alert-container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}
.alert .close-icon {
  float: right;
  color: #000;
  margin-top: 0;
  margin-left: 0;
  width: 21px;
  height: 21px;
  position: relative;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  text-indent: -999px;
  overflow: hidden;
  white-space: nowrap;
}
.alert .close-icon:before, .alert .close-icon:after {
  content: '';
  position: absolute;
  top: 8px;
  width: 15px;
  height: 2px;
  left: 0;
}
.alert .close-icon:before {
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.alert .close-icon:after {
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.alert.alert-success {
  background-color: #8bc34a;
  border: 1px solid #8bc34a;
}
.alert.alert-success .alert-icon {
  float: left;
  margin-right: 15px;
}
.alert.alert-success .alert-info {
  margin: 0 10px 0 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
}
.alert.alert-success .alert-container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}
.alert.alert-success .close-icon {
  float: right;
  color: #000;
  margin-top: 0;
  margin-left: 0;
  width: 21px;
  height: 21px;
  position: relative;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  text-indent: -999px;
  overflow: hidden;
  white-space: nowrap;
}
.alert.alert-success .close-icon:before, .alert.alert-success .close-icon:after {
  content: '';
  position: absolute;
  top: 8px;
  width: 15px;
  height: 2px;
  left: 0;
}
.alert.alert-success .close-icon:before {
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.alert.alert-success .close-icon:after {
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.alert.alert-warning {
  background-color: #f87d09;
  border: 1px solid #f87d09;
}
.alert.alert-warning .alert-icon {
  float: left;
  margin-right: 15px;
}
.alert.alert-warning .alert-info {
  margin: 0 10px 0 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
}
.alert.alert-warning .alert-container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}
.alert.alert-warning .close-icon {
  float: right;
  color: #000;
  margin-top: 0;
  margin-left: 0;
  width: 21px;
  height: 21px;
  position: relative;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  text-indent: -999px;
  overflow: hidden;
  white-space: nowrap;
}
.alert.alert-warning .close-icon:before, .alert.alert-warning .close-icon:after {
  content: '';
  position: absolute;
  top: 8px;
  width: 15px;
  height: 2px;
  left: 0;
}
.alert.alert-warning .close-icon:before {
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.alert.alert-warning .close-icon:after {
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

}